*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;font-size:16px;}
html{font-size:16px}
body{ background-color:  #ebebe0 }
.logo img:hover { opacity: 0.5}
.nav-bar{display: flex; background-color: #ff8000; height: 100px; width:100%;justify-content: space-between;}
.logo img { height: 100px; }
.logoM img {display: none; height: 50px;}
.nav-items ul {position: relative;right: 10vh;top:30px;}
.nav-items ul li  {display: inline-block; padding: 10px;font-size: 20px;}
.nav-items li a {}
.searchbar {margin-left: 0;margin-right: 0;position: absolute; left:30%;top:37px}
.searchbar .barra {width: 150%;font-size: 20px;border-top-right-radius:20px; border-bottom-right-radius:20px;}
.searchbar img {position: absolute;left:-25px;top:-4px;height: 36px;width:29px;  }
.nav-items .listacorta  {display: none;}
.logeo {width: 40%; margin:0 auto;padding-top: 55px;margin-top: 40px}
.item {font-size: 1.5rem; }
.item2{font-size:1.25rem;}







@media (max-width:950px) {.searchbar{display: none}}
@media (max-width:800px) {.nav-items ul{display: none}}
@media (max-width:800px) {.nav-items .listacorta{display: block;  position: absolute;font-size: 40px;right: 10%;top:5px;}
@media (max-width:1200px) {.logoM img{display: flex;}
@media (max-width:1200px) {.logo img{display: none;}
@media (max-width:1200px) {.nav-bar{height: 70px;}}
@media (max-width:950px) {.searchbar{display: none}}
@media (max-width:1200px) {  .logoM img{display: flex;} .logo img{display: none;} .nav-bar{height: 70px;}}
